:root {
    --bgTopColor: #000000;
    --bgMidColor:#000000;
    --bgBottomColor: #000000;
    --barColor: #000;
    --barText: #000;
    --fontColor:#000;
    --cardBorder: #000;
}

body {
    color:var(--fontColor);   
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--bgTopColor),var(--bgMidColor), var(--bgBottomColor));
    overflow-x: hidden;
    padding: 0px;
}

#topbar {
    height: 50px;
    width: 100vw;
    position: relative;
    left:-8px;
    top: -8px;
    margin: 0px 0px;
    background-color: var(--barColor);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
        box-shadow: 0px 1px 4px black;
        vertical-align: bottom;
}


#ThemeMenuIcon {
    grid-column: 5;
    color: var(--barText);
    margin: 0px 50px;
    padding-top: 32px;
    height: 100%;
    grid-row: 1;
}
#AboutUsIcon {
    grid-column: 1;
    grid-row: 1;
    color: var(--barText);
    margin: 0px 50px;
    padding-top: 32px;
    height: 100%;
}
#ThemeMenuIcon:hover {
      text-decoration: underline;
  
}
#AboutUsIcon:hover {
    text-decoration: underline;
}
#ThemeMenuIcon  + #ThemeDropDownMenu {
    --x: 500px;
    display: none;
    position: fixed;
    left : var(--x);
    top: 50px;
    width: 125px;
}
#AboutUsIcon  + #AboutUsDropdownMenu {
    display: none;
    position: fixed;
    left : 0px;
    top: 50px;
    width: 125px;
    height: 100px;
    background-color: var(--bgMidColor);
}
#AboutUsIcon:hover  + #AboutUsDropdownMenu {
    display:inline;
}


#ThemeDropDownMenu div {
    background-color: var(--bgMidColor);
    border: 1px solid black;
    width: 100%;
    font-size: 16px;
    padding: 6px;
    margin: 0px;
    text-align: center;
    transition: all 0.099s;
}
#ThemeDropDownMenu div:hover {
    text-decoration: underline;
}
#ThemeMenuIcon + #ThemeDropDownMenu:hover {
    display: inline-flex;
    flex-direction: column;
}

#ThemeMenuIcon:hover + #ThemeDropDownMenu {
    display: inline-flex;
    flex-direction: column;
}
h1 {
    display: inline;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 40px;
    color: var(--barText);
    font-weight: bold;
    text-decoration: underline;
    grid-column: 3;
    grid-row: 1;
}

#mommy {
    width: 99%;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    top: 50px;
    height: calc(100% - 200px);
    overflow-y: auto;
}
#mommy .TC {
    width: 400px;
    min-width: 24%;
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 20px;
    margin: 50px 50px;
    background-color: var(--barColor);
    border: 4px solid var(--cardBorder)
}
.stats {
    width: 100%;
    height: 60%;
    border: 2px solid var(--cardBorder);
    display: flex;
    flex-wrap: nowrap;
}
.stats .image {
    width: 50%;
    height: 100%;
    background-attachment:local;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-origin: border-box;
}
.stats .text {
    width: 50%;
    height: 100%;
}
#mommy h3 {
    text-align: center;
    margin: 5px 0px;
    font-size: 30px;
}
.stats p {
    font-size: 18px;
    margin-bottom: 40px;
}